<header class="headr-wid-ht-style">
  <img class="wid-ht-marg-left " src="/assets/logo.png">
<span class="txt-size" style="margin-left: 7px; color: #155FE1;">TROPO</span>
<span class="txt-size" style="color: #03C772 ;">GO</span>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div style="margin-left: 89px;
    margin-top: 10px;">
      <form>
        <div class="txt-style ">Add course details</div>
        <div class="form-group">
          <label class="labl-font">Course Name</label>
          <input type="text" class="form-control wid-453-ht-40">
        </div>

        <div class="form-group">
          <label class="labl-font" for="exampleInputPassword1">Previous Gallery</label>
          <input  type="password" class="form-control wid-453-ht-40" id="exampleInputPassword1">
        </div>

        <div class="form-group">
          <label class="labl-font" style="display: block;">Articraft Type</label>
          <input type="radio" class="marg-right" name="articraft-type" value="multi-rtr">
          <label class="labl-font marg-right">Multi Rotar</label>
          <input type="radio" class="marg-right" name="articraft-type" value="fixed-wing">
          <label class="labl-font">Fixed Wing</label>
        </div>
      </form>
      <span class="labl-font marg-right">BATCH</span>
      <span class="labl-font marg-right"> START DATE</span>
      <span class="labl-font">END DATE</span>

      <div class="card wid-ht">
        <div class="card-body bg-clr">
          <span>Batch 1
          </span>
          <img src="/assets/ic_selectdate.png" style="margin-left: 19px;"> DD MM
          <img src="/assets/ic_selectdate.png" style="margin-left: 19px;"> DD MM
          <div class="dropdown">
          <img class="dropbtn" style="margin-left: 102px;" src="/assets/ic_options.png">
          <div class="dropdown-content">
            <div><i class="fa fa-repeat" aria-hidden="true">Reset</i></div>
            <div><i class="fa fa-trash-o" aria-hidden="true">Delete</i></div>

          </div>
          </div>

          <img src="/assets/ic_dropdown.png">
          <div> <label>Course location</label>

             <ng-multiselect-dropdown [placeholder]="'custom placeholder'" [data]="dropdownList" [(ngModel)]="selectedItems"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
          </ng-multiselect-dropdown>

          </div>
          <div> <label>Course language</label> </div>
          <div>
            <label class="light-clr-font">Is this a weekend course?</label>
            <input style="margin-left: 5px;" type="radio" class="marg-right" name="yes" value="yes">
            <label class="light-clr-font marg-right">YES</label>
            <input type="radio" class="marg-right" name="no" value="no">
            <label class="light-clr-font">NO</label>
          </div>
        </div>
      </div>

      <div class="wid-ht marg-top">
        <img class="cursor" src="/assets/ic_addcourse.png" />
        <span class="clr-marg" >ADD ANOTHER COURSE DATE</span>
      </div>

    <div class="form-group">
      <label for="courseDet">Course Detail</label>
      <textarea class="form-control" id="courseDet" rows="3"></textarea>
    </div>
    </div>
  </div>

    <div class="col-md-6 bg-clr">
        <img class="img-marglft-marg-top" src="/assets/ic_bg.png">

    </div>
</div>
</div>
<footer class="footer-wid-ht-style"><button type="button" class="btn btn-style">Save and Publish</button></footer>
